/* Header.css */
.header {
    background-color: #00358c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-right: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.header-left a {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Bóng mờ giống hình ảnh */
    text-decoration: none;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-top: 70px;
    padding-right: 10px;
    width: 80%;
    
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, text-decoration 0.3s;
}

.nav-link:hover {
    background-color: #003366;
    text-decoration: underline;
    /* Màu nền khi hover */
}

.nav-link:last-child {
    background-color: #ffffff;
    /* Nền trắng cho nút Đăng nhập/Đăng ký */
    color: #8B0000;
    /* Màu chữ đỏ sậm */
    font-weight: bold;
    border-radius: 20px;
    padding: 8px px;
}

.nav-link:last-child:hover {
    background-color: #e6e6e6;
}
@media (max-width: 1000px) {
    .header {
        flex-direction: column; /* Chuyển header sang dạng cột */
        align-items: flex-start;
    }

    .header-left {
        margin-bottom: 10px; /* Tạo khoảng trống giữa logo và nav */
    }

    .header-nav {
        flex-direction: column; /* Chuyển menu sang dạng cột */
        align-items: flex-start;
        gap: 8px; /* Thu hẹp khoảng cách giữa các liên kết */
        width: 100%; /* Cho phép menu chiếm toàn bộ chiều rộng */
    }

    .nav-link {
        font-size: 1em; /* Giảm kích thước font trên màn hình nhỏ */
        padding: 10px;
    }
}